*{
  font-family: "Sniglet", system-ui;  
}
h4{
    font-weight: 400;
}
ul,ol{
    list-style-type: none;
}
.head{
    list-style-image: url('icons/arrow.png');
}
.winter {
    list-style-image: url('icons/winter.png') ;
}
.Spring{
    list-style-image: url('icons/spring.png') ;
}
.Summer{
    list-style-image: url('icons/summer.png') ;
}
.Autumn{
    list-style-image: url('icons/autumn.png') ;
}